<<<<<<< HEAD
﻿/*#region Bootstrap Validator*/
.bv-form .help-block {
    margin-bottom: 0;
}

.nav-tabs li.bv-tab-success > a {
    color: @success;
}

.nav-tabs li.bv-tab-error > a {
    color: @danger;
}
=======
﻿/*#region Bootstrap Validator*/
.bv-form .help-block {
    margin-bottom: 0;
}

.nav-tabs li.bv-tab-success > a {
    color: @success;
}

.nav-tabs li.bv-tab-error > a {
    color: @danger;
}
>>>>>>> 5e4075ac19ec99d1671e7ea026093f99610fb30a
/*#endregion Bootstrap Validator*/