@border-color: #D4D4D4;
@white: #FFFFFF;
@sidebar-background: #F4F4F4;

.p-sidebar {
    min-width: 240px;
    border-color: @border-color;
    border-width: 0 1px 0 0;
    border-style: solid;
    display: flex;
    flex-direction: column;
    background-color: @white;

    .p-user-profile {
        height: 80px;
        border-bottom: solid 1px lighten(@border-color, 10%);
    }

    .p-modules {
        flex: 1;
        display: flex;

        .p-module-sidebar {
            background-color: @sidebar-background;
            position: relative;

            .p-module-sidebar-inner {
                border-left: 1px solid transparent;
                border-top: 1px solid transparent;
                box-shadow: 0 -1px 0 #dedede;
                -webkit-transform-origin: 17px 18px;
                -moz-transform-origin: 17px 18px;
                -o-transform-origin: 17px 18px;
                -ms-transform-origin: 17px 18px;
                transform-origin: 17px 18px;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                background: #f1f1f1;
                height: 40px;
                white-space: nowrap;
                position: absolute;
                top: -1px;
                width: 800px;
                z-index: 10000;

                .p-module-button {
                    padding: 6px 10px 10px 10px;
                    display: inline-block;
                    white-space: nowrap;
                    cursor: default;
                    margin-left: -1px;
                    margin-right: 2px;
                    font-family: Helvetica, Arial;
                    font-size: 13px;
                    color: #333333;
                    text-shadow: 0 0 1px white;
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);

                    i {
                        margin-right: 3px;
                    }

                    &.p-active {
                        background-color: white;
                        /* margin-bottom: -3px; */
                        color: #333333;
                        background: #fbfbfb;
                        border-left: 1px solid #dedede;
                        border-right: 1px solid #dedede;
                        box-shadow: -1px 0 transparent inset, -1px 0 transparent;
                        margin-left: -2px;
                        margin-right: 1px;
                        vertical-align: top;
                        margin-top: -2px;
                        padding-top: 9px;
                        height: 34px;
                    }
                }
            }
        }
    }
}

.p-trepanel {
    font-size: 11px;
    background: #eeeeee;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: -webkit-min-content;
    min-height: -webkit-min-content;
    padding-left: 5px;
    padding-right: 10px;
    position: relative;
    width: 100%;

    .p-list-tree {
        position: static;

        &.p-has-collapsible-children {
            .p-list-nested-item > .p-list-item::before {
                position: relative;
                top: -1px;
                margin-right: 5px; 
            }
        }
    }


    .p-list-group, .p-list-tree {
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;

        li:not(.p-list-nested-item), li.p-list-nested-item > .p-list-item {
            font-weight: normal;
            color: #444444;
            text-shadow: 0 1px 0 rbga(255, 255, 255, 0.5);
            line-height: 25px;
            text-wrap: none;
            white-space: nowrap;
        }
    }

    .p-header {
        position: relative;
    }

    .p-entry {

        &::before {
            content: '';
            position: absolute;
        }
    }
}
