
$window-background-color: #FFF;
$window-border-color: #5db2ff;
$window-border-title-bottom-width: 3px;
$window-tool-color: #CCC;
$window-tool-hover-color: #000;
$window-default-font-size: 12px;
$window-title-font-size: 12px;

$shadow-color: #D4D4D4;

.x-window {
    width: 500px;
    background-color: $window-background-color;

    outline: none;
    position: absolute;
    border: solid 1px lighten($window-border-color, 10%);
    box-shadow: 0px 2px 13px 1px $shadow-color;

    font-family: verdana;
    font-size:  $window-default-font-size;

    z-index: 999;

    .x-window-title {
        clear: both;
        padding: 10px;
        padding-left: 10px;
        padding-top: 10px;
        border-style: solid;
        border-width: 0;
        font-weight: bold;
        font-size: $window-title-font-size;
        border-bottom-width: $window-border-title-bottom-width!important;
        border-bottom-color: $window-border-color;
    }

    .x-tool-wrap {
        position: absolute;
        right: 10px;
        top: 8px;

        .x-tool {
            cursor: pointer;
            font-size: $window-default-font-size;
            color: $window-tool-color;

            &:hover {
                color: $window-tool-hover-color;
            }
        }

    }

}

.k-window {

    font-family: verdana;
    font-size:  $window-default-font-size;

    border-color: lighten($window-border-color, 10%);
    -webkit-box-shadow: 0px 2px 13px 1px $shadow-color;
    box-shadow: 0px 2px 13px 1px $shadow-color;
    background-color: $window-background-color;

    .k-header {
        border-color: $window-border-color;
    }

    .k-window-titlebar {
        width: auto;
        left: 0;
        right: 0;
        padding: 10px;
        border-style: solid;
        border-width: 0;
        font-weight: bold;
        font-size: $window-title-font-size;
        border-bottom-width: $window-border-title-bottom-width!important;
        border-bottom-color: $window-border-color;
    }

    .k-window-content {
        margin-top: 10px;
        height: auto;
        padding: 0;
    }
}


.toolbar-wrapper {
    border-bottom: solid 1px #E8E8E8;
    clear: both;
    height: 38px;
}

td {
    padding: 3px;
}

.form-control {
    height: 30px;
}
