<<<<<<< HEAD

$window-background-color: #FFF;
$window-border-color: #D4D4D4;
$window-border-title-bottom-width: 1px;
$window-tool-color: #CCC;
$window-tool-hover-color: #000;
$window-default-font-size: 12px;
$window-title-font-size: 12px;

$shadow-color: #D4D4D4;

.x-window {
    width: 500px;
    background-color: $window-background-color;

    outline: none;
    position: absolute;
    border: solid 1px lighten($window-border-color, 10%);
    box-shadow: 0px 2px 13px 1px $shadow-color;

    font-family: verdana;
    font-size:  $window-default-font-size;

    z-index: 999;

    .x-window-title {
        clear: both;
        padding: 10px;
        padding-left: 10px;
        padding-top: 10px;
        border-style: solid;
        border-width: 0;
        font-weight: bold;
        font-size: $window-title-font-size;
        border-bottom-width: $window-border-title-bottom-width!important;
        border-bottom-color: $window-border-color;
    }

    .x-tool-wrap {
        position: absolute;
        right: 10px;
        top: 8px;

        .x-tool {
            cursor: pointer;
            font-size: $window-default-font-size;
            color: $window-tool-color;

            &:hover {
                color: $window-tool-hover-color;
            }
        }

    }

}

.k-window {

    font-family: verdana;
    font-size:  $window-default-font-size;

    border-color: $window-border-color;
    -webkit-box-shadow: 0px 2px 13px 1px $shadow-color;
    box-shadow: 0px 2px 13px 1px $shadow-color;
    background-color: $window-background-color;

    .k-header {
        border-color: $window-border-color;
    }

    .k-window-titlebar {
        width: auto;
        left: 0;
        right: 0;
        padding: 6px;
        border-style: solid;
        border-width: 0;
        font-weight: bold;
        font-size: $window-title-font-size;
        border-bottom-width: $window-border-title-bottom-width!important;
        border-bottom-color: $window-border-color;
        color: #333333;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        background-color: #f0f0f0;
        background: #f0f0f0;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        background: -moz-linear-gradient(100% 100% 90deg, #eaeaea, #f8f8f8);
        background: -ms-linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);
        background: linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);
        border-color: #cccccc;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .k-window-content {
        margin-top: 0;
        height: auto;
        padding: 0;
        height: 100%;
    }
}

.toolbar-wrapper {
    border-bottom: solid 1px #E8E8E8;
    clear: both;
    height: 38px;
}

td {
    padding: 3px;
}

.form-control {
    height: 30px;
}

.p-toolbar {
    display: flex;
    flex-direction: row;
    padding: 2px 0 2px 2px;
    border-style: solid;
    border-color: #DADADA;
    border-width: 0 0 1px 0;
    background-image: none;
    background-color: #d8d8d8;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #e6e6e6), color-stop(0%, #efefef));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -moz-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -o-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -ms-linear-gradient(top, #e6e6e6, #efefef);
    background-image: linear-gradient(top,#e6e6e6, #efefef);

    .p-toolbar-separator {
        margin: 5px 2px 0;
        height: 14px;
        border-style: solid;
        border-width: 0 1px;
        border-left-color: #aca899;
        border-right-color: #fff;
    }

    .p-toolbar-button {
        cursor: pointer;
        padding: 4px;
        display: inline-block;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;

        -webkit-user-select: none;
        text-decoration: none;
        color: #525252;


        i {
            display: inline-block;
            margin-right: 4px;
        }

        span {
            margin-top: 1px;
        }

        &:hover {
            text-decoration: none;
            border-color: #C7C7C7;
            background-image: none;
            background-color: #f3f3f3;
            background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #fbfbfb), color-stop(0%, #e9e9e9));
            background-image: -webkit-linear-gradient(top, #fbfbfb, #e9e9e9);
            background-image: -moz-linear-gradient(top, #fbfbfb, #e9e9e9);
            background-image: -o-linear-gradient(top, #fbfbfb, #e9e9e9);
            background-image: -ms-linear-gradient(top, #fbfbfb, #e9e9e9);
            background-image: linear-gradient(top,#fbfbfb, #e9e9e9);
        }

        &:active {
            border-color: #9d9d9d;
            background-image: none;
            background-color: #d6d6d6;
            background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #c7c7c7), color-stop(0%, #e0e0e0));
            background-image: -webkit-linear-gradient(top, #c7c7c7, #e0e0e0);
            background-image: -moz-linear-gradient(top, #c7c7c7, #e0e0e0);
            background-image: -o-linear-gradient(top, #c7c7c7, #e0e0e0);
            background-image: -ms-linear-gradient(top, #c7c7c7, #e0e0e0);
            background-image: linear-gradient(top,#c7c7c7, #e0e0e0);
        }
    }
}

.p-window-buttons {
    position: absolute;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #F4F4F4;
    border-top: solid 1px #ECECEC;
    display: flex;
    flex-direction: row;
}

.p-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    color: #4E4E4E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 5px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #fff), color-stop(0%, #eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top,#fff, #eee);
    border-color: #bbb;

    i {
        margin-right: 4px;
    }

    &:hover {
        text-decoration: none;
    }
}
=======

$window-background-color: #FFF;
$window-border-color: #D4D4D4;
$window-border-title-bottom-width: 1px;
$window-tool-color: #CCC;
$window-tool-hover-color: #000;
$window-default-font-size: 12px;
$window-title-font-size: 12px;

$shadow-color: #D4D4D4;

.x-window {
    width: 500px;
    background-color: $window-background-color;

    outline: none;
    position: absolute;
    border: solid 1px lighten($window-border-color, 10%);
    box-shadow: 0px 2px 13px 1px $shadow-color;

    font-family: verdana;
    font-size:  $window-default-font-size;

    z-index: 999;

    .x-window-title {
        clear: both;
        padding: 10px;
        padding-left: 10px;
        padding-top: 10px;
        border-style: solid;
        border-width: 0;
        font-weight: bold;
        font-size: $window-title-font-size;
        border-bottom-width: $window-border-title-bottom-width!important;
        border-bottom-color: $window-border-color;
    }

    .x-tool-wrap {
        position: absolute;
        right: 10px;
        top: 8px;

        .x-tool {
            cursor: pointer;
            font-size: $window-default-font-size;
            color: $window-tool-color;

            &:hover {
                color: $window-tool-hover-color;
            }
        }

    }

}

.k-window {

    font-family: verdana;
    font-size:  $window-default-font-size;

    border-color: $window-border-color;
    -webkit-box-shadow: 0px 2px 13px 1px $shadow-color;
    box-shadow: 0px 2px 13px 1px $shadow-color;
    background-color: $window-background-color;

    .k-header {
        border-color: $window-border-color;
    }

    .k-window-titlebar {
        width: auto;
        left: 0;
        right: 0;
        padding: 6px;
        border-style: solid;
        border-width: 0;
        font-weight: bold;
        font-size: $window-title-font-size;
        border-bottom-width: $window-border-title-bottom-width!important;
        border-bottom-color: $window-border-color;
        color: #333333;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        background-color: #f0f0f0;
        background: #f0f0f0;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        background: -moz-linear-gradient(100% 100% 90deg, #eaeaea, #f8f8f8);
        background: -ms-linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);
        background: linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);
        border-color: #cccccc;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .k-window-content {
        margin-top: 0;
        height: auto;
        padding: 0;
        height: 100%;
    }
}

.toolbar-wrapper {
    border-bottom: solid 1px #E8E8E8;
    clear: both;
    height: 38px;
}

td {
    padding: 3px;
}

.form-control {
    height: 30px;
}

.p-toolbar {
    display: flex;
    flex-direction: row;
    padding: 2px 0 2px 2px;
    border-style: solid;
    border-color: #DADADA;
    border-width: 0 0 1px 0;
    background-image: none;
    background-color: #d8d8d8;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #e6e6e6), color-stop(0%, #efefef));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -moz-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -o-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -ms-linear-gradient(top, #e6e6e6, #efefef);
    background-image: linear-gradient(top,#e6e6e6, #efefef);

    .p-toolbar-separator {
        margin: 5px 2px 0;
        height: 14px;
        border-style: solid;
        border-width: 0 1px;
        border-left-color: #aca899;
        border-right-color: #fff;
    }

    .p-toolbar-button {
        cursor: pointer;
        padding: 4px;
        display: inline-block;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;

        -webkit-user-select: none;
        text-decoration: none;
        color: #525252;


        i {
            display: inline-block;
            margin-right: 4px;
        }

        span {
            margin-top: 1px;
        }

        &:hover {
            text-decoration: none;
            border-color: #C7C7C7;
            background-image: none;
            background-color: #f3f3f3;
            background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #fbfbfb), color-stop(0%, #e9e9e9));
            background-image: -webkit-linear-gradient(top, #fbfbfb, #e9e9e9);
            background-image: -moz-linear-gradient(top, #fbfbfb, #e9e9e9);
            background-image: -o-linear-gradient(top, #fbfbfb, #e9e9e9);
            background-image: -ms-linear-gradient(top, #fbfbfb, #e9e9e9);
            background-image: linear-gradient(top,#fbfbfb, #e9e9e9);
        }

        &:active {
            border-color: #9d9d9d;
            background-image: none;
            background-color: #d6d6d6;
            background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #c7c7c7), color-stop(0%, #e0e0e0));
            background-image: -webkit-linear-gradient(top, #c7c7c7, #e0e0e0);
            background-image: -moz-linear-gradient(top, #c7c7c7, #e0e0e0);
            background-image: -o-linear-gradient(top, #c7c7c7, #e0e0e0);
            background-image: -ms-linear-gradient(top, #c7c7c7, #e0e0e0);
            background-image: linear-gradient(top,#c7c7c7, #e0e0e0);
        }
    }
}

.p-window-buttons {
    position: absolute;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #F4F4F4;
    border-top: solid 1px #ECECEC;
    display: flex;
    flex-direction: row;
}

.p-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    color: #4E4E4E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 5px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #fff), color-stop(0%, #eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top,#fff, #eee);
    border-color: #bbb;

    i {
        margin-right: 4px;
    }

    &:hover {
        text-decoration: none;
    }
}
>>>>>>> 5e4075ac19ec99d1671e7ea026093f99610fb30a
